apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: {{ .Values.namespace }}
  labels:
    app: redis
spec:
  replicas: {{ .Values.replicas.redis }}
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: {{ .Values.images.redis | quote }}
        ports:
        - containerPort: {{ .Values.ports.redis }}
        readinessProbe:
          tcpSocket:
            port: {{ .Values.ports.redis }}
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: {{ .Values.ports.redis }}
          initialDelaySeconds: 10
          periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: redis
  ports:
  - name: redis
    port: {{ .Values.ports.redis }}
    targetPort: {{ .Values.ports.redis }}
